

.calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    max-width: 170px;
}


input[type="text"] {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    font-size: 0.8em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"] {
    width: 30px;
    height: 30px;
    padding: 3px;
    font-size: 0.7em;
    margin: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

.equal {
    background-color: #28a745;
    color: #fff;
    border: 1px solid #218838;
}

input[type="button"]:hover {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #0056b3;
}