



.calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.calculator__display {
    font-size: 2em;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #ccc;
}

.calculator__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    font-size: 1.5em;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: #f2f2f2;
}

.key--operator {
    background-color: #0137fc;
    color: #fff;
}

.key--equal {
    background-color: #0137fc;
    color: #fff;
}


