header{
  text-align: center;
}
main{
    color:aliceblue;
}
body {
    background-color: #395C6B ;
  }
  nav{
color: chartreuse;
  }
  h1 {
    color: white;
    text-align: center;
  }
  h2{
    color: aliceblue;
    text-align: center;
  }
  
  p {
    color:aliceblue;
    font-family: verdana;
    font-size: 20px;
  }

  figure{
    color:aliceblue;
    text-align: center;
    font-style: italic;
  }
  p{
    color:aliceblue;
    font-style: oblique;
  }
  a{
    color: greenyellow;
    text-decoration: none;
  }

  footer{
    text-align:left;
  }
  