@media (min-width: 576px) {

}
img {
  max-width: 100%;
  height: auto;
}
  body {
      margin: 10px;
      background-color: #395C6B ;
  }

  header {
      text-align: center;
      padding: 10px;
      color: #f0e68c;
      text-align: center;
  }

  header .nav {
      margin-top: 10px;
      list-style: none;
  }

  header .nav li {
      display: inline;
      margin-right: 10px;
  }

  footer {
      padding: 10px;
      text-align: center;
  }

main{
    color: #f0e68c;
}
body {
    background-color: #395C6B ;
  }
  nav{
color: chartreuse;
  }
  h1 {

    text-align: center;
  }
  h2{
 
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  figure{

    text-align: center;
    font-style: italic;
  }
  p{

    font-style: oblique;
  }
  a{
    color: greenyellow;
    text-decoration: none;
  }

textarea, input{
  background-color: rgb(186, 132, 65);
}

  footer{
    color: #f0e68c;
    text-align:left;
  }


