header{
  color: #f0e68c;
  text-align: center;
}
main{
    color: #f0e68c;
}
body {
    background-color: #395C6B ;
  }
  nav{
color: chartreuse;
  }
  h1 {

    text-align: center;
  }
  h2{
 
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  figure{

    text-align: center;
    font-style: italic;
  }
  p{

    font-style: oblique;
  }
  a{
    color: greenyellow;
    text-decoration: none;
  }

textarea, input{
  background-color: rgb(186, 132, 65);
}

  footer{
    color: #f0e68c;
    text-align:left;
  }
  