
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000;
}
  
th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #000;
}
  
tr:nth-child(odd) {
    background-color: rgb(29, 17, 150);
    color:aliceblue;
}

tr:nth-child(1) {
    background-color: rgb(29, 17, 100);
    color:aliceblue;
    font-style:oblique;
    
}
