<header>
    <h1>
        Jorge Velasco Joyful Vampire || ITIS 3135
    </h1>
    <nav>
        <a href="./"> Home </a>
       ||
       <a href="introduction.html" >Introduction</a>
       ||
       <a href="contract.html" >Contract</a>
       ||
       <a href="tables.html">Tables</a>
       ||
       <a href="forms.html">Form</a>
       ||
       <a href="BYO.html"> BYOP</a>
       ||
       <a href="../firstScript.html">firstScript</a>

    </nav>
    <br>
    <nav>
        <a href="../../Newer Folder/$$$ Page.htm">Crappy</a>
        ||
        <a href="../itis3135/website_evaluations.html">Website Evaluations</a>
        ||
        <a href="https://webpages.charlotte.edu/jvelasc3/itis3135/calculator_try.html">Calculator</a>
    </nav>
</header>