header{
    /*background-image: url(../images/image1.jpg);*/
    background-color: #5c1a1b;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #aed4e6;
    background-blend-mode:hard-light;
    text-align: center;
    font-size:x-large;
    font-size: x-large;
    
}
body{
    /*background-image: url(../images/image3.jpg);*/
    background-size: cover;
    color: #1ac8ed;
    background-color: #8c2155;
    background-blend-mode:hard-light;
    background-size: cover;
}
a{
    color:chartreuse
}
footer{
    background-color: gray;
    color: rgba(0, 0, 0, 0.);
}